openapi: 3.1.0
info:
  title: API Copropriété Maroc
  version: "0.1.0"
  description: >
    Contrat API — source de vérité contract-first (Master Spec Partie 3.1). Le client Flutter et
    les types web sont générés depuis ce fichier. Tout endpoint doit exister ici avant d'être codé
    (CLAUDE.md §1.7). Ce fichier couvre TOUS les modules listés en Master Spec Partie 3.2 avec au
    minimum path + méthode + rôles autorisés + schéma de réponse ; deux endpoints par domaine
    financier/AG sont détaillés intégralement comme patron à suivre (Partie 3.3) — compléter le
    reste au même niveau de détail module par module, au fil du ROADMAP_BACKLOG, pas d'un coup.
servers:
  - url: https://api.copropriete-maroc.ma/v1
    description: Production
  - url: https://staging-api.copropriete-maroc.ma/v1
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Copropriétés
  - name: Lots
  - name: Utilisateurs
  - name: Finances
  - name: Assemblées Générales
  - name: Incidents
  - name: Personnel
  - name: Espaces communs
  - name: Documents
  - name: Notifications
  - name: Litiges
  - name: LCD
    description: Location courte durée (M15, Doc A §10.2) — côté copropriété uniquement (règlement, sécurité, nuisances).

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Supabase. Structure détaillée en Master Spec Partie 4.4.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Obligatoire sur toute écriture financière ou à valeur probante (Master Spec Partie 3.1).
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    LotId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    AgId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  schemas:
    # ── Enveloppe standard (Master Spec Partie 3.1) ──────────────────────────
    Meta:
      type: object
      properties:
        request_id: { type: string, format: uuid }
        total: { type: integer }
        page: { type: integer }
        has_more: { type: boolean }

    Error:
      type: object
      required: [error]
      description: >
        Enveloppe d'erreur standard. Toute réponse (succès comme erreur) porte aussi le header
        `X-Request-Id` — repris du header entrant s'il est un UUID valide, généré sinon —
        identique à `meta.request_id`, pour corrélation client ↔ logs serveur.
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum: [VALIDATION_ERROR, UNAUTHENTICATED, FORBIDDEN, NOT_FOUND, CONFLICT, UNPROCESSABLE_ENTITY, RATE_LIMITED, INTERNAL_ERROR]
            message: { type: string }
            fields:
              type: object
              additionalProperties: { type: string }
        meta:
          type: object
          properties:
            request_id: { type: string, format: uuid }

    Money:
      type: string
      description: >
        Montant sérialisé en chaîne décimale (jamais un float JSON — Master Spec Partie 1.7.1).
        Ex. "45200.00".
      pattern: '^-?\d+\.\d{2}$'
      example: "1800.00"

    # ── Domaine : Appareils push (Master Spec Partie 13.4 — M19) ─────────────
    AppareilPushCreate:
      type: object
      required: [token, plateforme]
      properties:
        token: { type: string, minLength: 20, maxLength: 4096, description: Jeton FCM opaque de l'appareil. }
        plateforme: { type: string, enum: [ANDROID, IOS] }
        langue: { type: string, enum: [FR, AR] }
        version_app: { type: string, maxLength: 40, nullable: true }
    AppareilPush:
      type: object
      properties:
        id: { type: string, format: uuid }
        plateforme: { type: string, enum: [ANDROID, IOS] }
        langue: { type: string, enum: [FR, AR] }
        version_app: { type: string, nullable: true }
        cree_le: { type: string, format: date-time }
        dernier_vu_le: { type: string, format: date-time }

    # ── Domaine : Lots (Master Spec Partie 2.2, Doc A §1, §2 — M3) ───────────
    Lot:
      type: object
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        type_lot:
          type: string
          enum: [APPARTEMENT, PARKING, CAVE, LOCAL, TOIT_TERRASSE, VILLA, COMMERCIAL, BUREAU, LOGE_GARDIEN]
        type_usage:
          type: string
          nullable: true
          enum: [HABITATION, BUREAU, MIXTE, COMMERCIAL]
          description: Doc A §1.1 (ex. appartement transformé en bureau) — non renseigné par défaut.
        numero: { type: string }
        etage: { type: integer, nullable: true }
        tantiemes: { $ref: "#/components/schemas/Money" }
        superficie: { type: string, nullable: true }
        statut:
          type: string
          enum: [OCCUPE, VACANT, ORPHELIN, EN_SUCCESSION, SINISTRE, TANTIEME_A_REGULARISER]
        lot_parent_id: { type: string, format: uuid, nullable: true }

    LotCreate:
      type: object
      required: [type_lot, numero, tantiemes]
      properties:
        type_lot:
          type: string
          enum: [APPARTEMENT, PARKING, CAVE, LOCAL, TOIT_TERRASSE, VILLA, COMMERCIAL, BUREAU, LOGE_GARDIEN]
        type_usage:
          type: string
          nullable: true
          enum: [HABITATION, BUREAU, MIXTE, COMMERCIAL]
        numero: { type: string }
        etage: { type: integer, nullable: true }
        tantiemes: { $ref: "#/components/schemas/Money" }
        superficie: { type: string, nullable: true }
        lot_parent_id:
          type: string
          format: uuid
          nullable: true
          description: Rattachement parking/cave à un lot principal (Doc A §1.2/§1.3).

    LotUpdate:
      type: object
      properties:
        type_lot:
          type: string
          enum: [APPARTEMENT, PARKING, CAVE, LOCAL, TOIT_TERRASSE, VILLA, COMMERCIAL, BUREAU, LOGE_GARDIEN]
        type_usage:
          type: string
          nullable: true
          enum: [HABITATION, BUREAU, MIXTE, COMMERCIAL]
        numero: { type: string }
        etage: { type: integer, nullable: true }
        tantiemes: { $ref: "#/components/schemas/Money" }
        superficie: { type: string, nullable: true }
        statut:
          type: string
          enum: [OCCUPE, VACANT, ORPHELIN, EN_SUCCESSION, SINISTRE, TANTIEME_A_REGULARISER]
        lot_parent_id: { type: string, format: uuid, nullable: true }

    LotProprietaire:
      type: object
      properties:
        id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        utilisateur_id: { type: string, format: uuid }
        quote_part: { $ref: "#/components/schemas/Money" }
        type_propriete: { type: string, enum: [PLEIN, INDIVISION, SCI] }
        est_representant_indivision: { type: boolean }
        date_debut: { type: string, format: date }
        date_fin: { type: string, format: date, nullable: true }

    LotProprietaireCreate:
      type: object
      required: [utilisateur_id, quote_part, type_propriete, date_debut]
      properties:
        utilisateur_id: { type: string, format: uuid }
        quote_part:
          type: string
          description: >
            Pourcentage de propriété du lot (ex. "50.00" pour une indivision à deux). La somme des
            quote_part actives (sans date_fin) d'un même lot doit être 100% (Doc A §2.4) —
            contrainte vérifiée en base à la fin de la transaction (voir migration M3).
          example: "100.00"
        type_propriete: { type: string, enum: [PLEIN, INDIVISION, SCI] }
        est_representant_indivision: { type: boolean, default: false }
        date_debut: { type: string, format: date }
        date_fin: { type: string, format: date, nullable: true }

    LotOccupant:
      type: object
      properties:
        id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        utilisateur_id: { type: string, format: uuid }
        type_occupation: { type: string, enum: [PROPRIETAIRE_OCCUPANT, LOCATAIRE] }
        date_debut: { type: string, format: date }
        date_fin: { type: string, format: date, nullable: true }
        acces_finances_accorde: { type: boolean }
        recoit_convocations: { type: boolean }

    LotOccupantCreate:
      type: object
      required: [utilisateur_id, type_occupation, date_debut]
      properties:
        utilisateur_id: { type: string, format: uuid }
        type_occupation: { type: string, enum: [PROPRIETAIRE_OCCUPANT, LOCATAIRE] }
        date_debut: { type: string, format: date }
        date_fin: { type: string, format: date, nullable: true }
        acces_finances_accorde: { type: boolean, default: false }
        recoit_convocations: { type: boolean, default: false }

    # ── Domaine : Onboarding / Invitations (Master Spec Partie 5.1, 5.3) ─────
    Invitation:
      type: object
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid, nullable: true }
        role_cible:
          type: string
          enum: [SYNDIC, CONSEIL_SYNDICAL, PROPRIETAIRE, LOCATAIRE, INDIVISAIRE, GARDIEN, PRESTATAIRE, PERSONNE_MORALE_REPRESENTANT]
        canal: { type: string, enum: [EMAIL, SMS, QR_CODE, WHATSAPP] }
        code: { type: string }
        statut: { type: string, enum: [EN_ATTENTE, ACCEPTEE, EXPIREE, REGENEREE] }
        expire_le: { type: string, format: date-time }
        ouverte_le:
          type: string
          format: date-time
          nullable: true
          description: Premier scan du code (usage unique — le code est alors lié à cet appareil).

    InvitationCreate:
      type: object
      required: [role_cible, canal]
      properties:
        lot_id:
          type: string
          format: uuid
          nullable: true
          description: >
            Obligatoire sauf rôles rattachés directement à la copropriété (GARDIEN, PRESTATAIRE,
            SYNDIC — Master Spec Partie 5.3). SUPER_ADMIN n'est jamais un rôle invitable.
        role_cible:
          type: string
          enum: [SYNDIC, CONSEIL_SYNDICAL, PROPRIETAIRE, LOCATAIRE, INDIVISAIRE, GARDIEN, PRESTATAIRE, PERSONNE_MORALE_REPRESENTANT]
        canal: { type: string, enum: [EMAIL, SMS, QR_CODE, WHATSAPP] }

    # ── Domaine : Utilisateurs (M13 — Master Spec Partie 5/10.1, CNDP) ──────
    RoleType:
      type: string
      enum: [SUPER_ADMIN, SYNDIC, CONSEIL_SYNDICAL, PROPRIETAIRE, LOCATAIRE, INDIVISAIRE, GARDIEN, PRESTATAIRE, PERSONNE_MORALE_REPRESENTANT]

    UtilisateurProfil:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, nullable: true }
        telephone: { type: string, nullable: true }
        nom: { type: string, nullable: true }
        prenom: { type: string, nullable: true }
        langue_preferee: { type: string, enum: [FR, AR] }
        statut_compte: { type: string, enum: [INVITE, EN_VALIDATION, ACTIF, SUSPENDU, DESACTIVE, ANONYMISE] }
        raison_sociale: { type: string, nullable: true }
        roles:
          type: array
          items:
            type: object
            properties:
              copropriete_id: { type: string, format: uuid }
              role: { $ref: "#/components/schemas/RoleType" }
              actif: { type: boolean }

    MembreCopropriete:
      allOf:
        - $ref: "#/components/schemas/UtilisateurProfil"
        - type: object
          properties:
            roles:
              type: array
              items:
                type: object
                properties:
                  role: { type: string }
                  actif: { type: boolean }
                  depuis: { type: string, format: date-time }
            lots:
              type: array
              items:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  numero: { type: string }
                  lien: { type: string, enum: [PROPRIETAIRE, OCCUPANT] }
            membre_depuis: { type: string, format: date-time }
    UtilisateurProfilUpdate:
      type: object
      properties:
        nom: { type: string, minLength: 1, maxLength: 100 }
        prenom: { type: string, minLength: 1, maxLength: 100 }
        langue_preferee: { type: string, enum: [FR, AR] }

    UtilisateurExport:
      type: object
      description: Export CNDP — une entrée par copropriété où l'appelant a un rôle.
      properties:
        profil: { $ref: "#/components/schemas/UtilisateurProfil" }
        genere_le: { type: string, format: date-time }
        coproprietes:
          type: array
          items:
            type: object
            properties:
              copropriete_id: { type: string, format: uuid }
              role: { $ref: "#/components/schemas/RoleType" }
              lots_proprietaire: { type: array, items: { type: object } }
              lots_occupant: { type: array, items: { type: object } }
              paiements: { type: array, items: { type: object } }
              votes: { type: array, items: { type: object } }
              notifications: { type: array, items: { type: object } }

    # ── Domaine : Copropriétés (M12 — Master Spec Partie 2.2, tenant racine) ─
    TypeResidence:
      type: string
      enum: [IMMEUBLE_COLLECTIF, RESIDENCE_FERMEE, RESIDENCE_VILLAS, IMMEUBLE_BUREAUX, IMMEUBLE_MIXTE, RESIDENCE_ETUDIANTE]

    Copropriete:
      type: object
      properties:
        id: { type: string, format: uuid }
        nom: { type: string }
        adresse: { type: string }
        ville: { type: string }
        type_residence: { $ref: "#/components/schemas/TypeResidence" }
        nb_lots: { type: integer }
        statut: { type: string, enum: [ACTIVE, ARCHIVEE] }
        config_json: { type: object, nullable: true }
        total_tantiemes: { $ref: "#/components/schemas/Money" }
        politique_recouvrement_json: { type: object, nullable: true }
        # Paramètres légaux — nullable tant que non confirmés juridiquement (LEGAL_QUESTIONS_BRIEF).
        delai_convocation_jours: { type: integer, nullable: true }
        quorum_premiere_convocation: { type: string, nullable: true, example: "0.500" }
        limite_procurations_mandataire: { type: integer, nullable: true }

    CoproprieteCreate:
      type: object
      required: [nom, adresse, ville, type_residence, nb_lots]
      properties:
        nom: { type: string, minLength: 1 }
        adresse: { type: string, minLength: 1 }
        ville: { type: string, minLength: 1 }
        type_residence: { $ref: "#/components/schemas/TypeResidence" }
        nb_lots: { type: integer, minimum: 1 }
        config_json: { type: object, nullable: true }

    CoproprieteUpdate:
      type: object
      properties:
        nom: { type: string, minLength: 1 }
        adresse: { type: string, minLength: 1 }
        ville: { type: string, minLength: 1 }
        nb_lots: { type: integer, minimum: 1 }
        config_json: { type: object, nullable: true }
        total_tantiemes: { $ref: "#/components/schemas/Money" }
        politique_recouvrement_json: { type: object, nullable: true }
        delai_convocation_jours: { type: integer, nullable: true, minimum: 1 }
        quorum_premiere_convocation: { type: string, nullable: true, pattern: '^0\.\d{1,3}$|^1(\.0{1,3})?$' }
        limite_procurations_mandataire: { type: integer, nullable: true, minimum: 1 }
        retention_desactivation_mois: { type: integer, nullable: true, minimum: 1, description: "Rétention CNDP avant anonymisation automatique (mois) — valeur légalement gatée (LEGAL_QUESTIONS_BRIEF §5)." }

    # ── Domaine : Finances (M5 — Master Spec Partie 2.2/6, Doc A §3) ────────
    BudgetAg:
      type: object
      properties:
        id: { type: string, format: uuid }
        ag_id: { type: string, format: uuid, nullable: true }
        exercice: { type: string, pattern: '^\d{4}$', example: "2026" }
        montant_total: { $ref: "#/components/schemas/Money" }
        statut: { type: string, enum: [PROPOSE, VOTE, ACTIF, REMPLACE] }

    BudgetAgCreate:
      type: object
      required: [exercice, montant_total]
      properties:
        exercice: { type: string, pattern: '^\d{4}$' }
        montant_total: { $ref: "#/components/schemas/Money" }
        # Résolution AG qui a voté ce budget (Master Spec Partie 2.2 : budget "voté en AG") —
        # nullable tant que l'AG n'est pas encore tracée dans la plateforme.
        ag_id: { type: string, format: uuid, nullable: true }

    BudgetAgUpdate:
      type: object
      properties:
        montant_total: { $ref: "#/components/schemas/Money" }
        ag_id: { type: string, format: uuid, nullable: true }

    TypeAppelDeFonds:
      type: string
      # Doc A §3.2 fait autorité sur le métier (CLAUDE.md) — remplace la liste littérale du
      # Master Spec (charges_courantes/travaux/fonds_reserve) par la liste plus fine de Doc A.
      enum: [CHARGES_COURANTES, EXCEPTIONNEL, FONDS_RESERVE, REGULARISATION, URGENCE, DEMARRAGE]

    AppelDeFondsLot:
      type: object
      properties:
        id: { type: string, format: uuid }
        appel_de_fonds_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        montant_du: { $ref: "#/components/schemas/Money" }
        montant_paye: { $ref: "#/components/schemas/Money" }
        statut: { type: string, enum: [PAYE, PARTIEL, IMPAYE] }
        conteste: { type: boolean }
        niveau_escalade: { type: string, enum: [N0, N1, N2, N3, N4, N5, N6] }

    AppelDeFonds:
      type: object
      properties:
        id: { type: string, format: uuid }
        periode: { type: string, pattern: '^\d{4}-\d{2}$', example: "2026-08" }
        type: { $ref: "#/components/schemas/TypeAppelDeFonds" }
        montant_total: { $ref: "#/components/schemas/Money" }
        date_echeance: { type: string, format: date }
        statut: { type: string, enum: [BROUILLON, EMIS, CLOTURE] }
        lignes:
          type: array
          items: { $ref: "#/components/schemas/AppelDeFondsLot" }

    AppelDeFondsGenererCreate:
      type: object
      required: [periode, type, montant_total, date_echeance]
      description: >
        Génération batch (Master Spec Partie 6.2) — copropriete_id vient du contexte tenant
        (header X-Copropriete-Id), jamais du payload (Partie 1.6). Idempotence stricte sur
        (copropriete_id, periode, type) → 409 si déjà généré. Nécessite un budget_ag ACTIF pour
        l'exercice (= 4 premiers caractères de periode) → 422 sinon.
      properties:
        periode:
          type: string
          pattern: '^\d{4}-\d{2}$'
          example: "2026-08"
        type: { $ref: "#/components/schemas/TypeAppelDeFonds" }
        montant_total: { $ref: "#/components/schemas/Money" }
        date_echeance: { type: string, format: date }

    SoldeLot:
      type: object
      properties:
        lot_id: { type: string, format: uuid }
        solde_du: { $ref: "#/components/schemas/Money" }
        lignes:
          type: array
          items:
            type: object
            properties:
              appel_de_fonds_lot_id: { type: string, format: uuid }
              montant_du: { $ref: "#/components/schemas/Money" }
              montant_paye: { $ref: "#/components/schemas/Money" }
              statut: { type: string, enum: [PAYE, PARTIEL, IMPAYE] }
              conteste: { type: boolean }

    PaiementManuelCreate:
      type: object
      required: [montant, methode]
      description: >
        Paiement hors CMI (virement, espèces, chèque) — Master Spec Partie 6.4/Doc A §3.4.
        Deux modes exclusifs : `appel_de_fonds_lot_id` (cible UNE ligne) OU `lot_id`
        (imputation automatique FIFO sur les lignes impayées les plus anciennes du lot,
        Doc A §3.4 "règle du droit commun"). En mode FIFO, un montant dépassant le dû total
        du lot est rejeté 422 — l'avance (Doc A §3.4 "Paiement en avance") n'est pas encore
        supportée (écart signalé).
      properties:
        appel_de_fonds_lot_id: { type: string, format: uuid }
        lot_id:
          type: string
          format: uuid
          description: Mode FIFO — exclusif avec appel_de_fonds_lot_id.
        montant: { $ref: "#/components/schemas/Money" }
        methode: { type: string, enum: [VIREMENT, ESPECES, CHEQUE] }
        payeur_utilisateur_id:
          type: string
          format: uuid
          nullable: true
          description: Doc A §3.4 "Locataire paie à la place du propriétaire".
        accepter_trop_percu:
          type: boolean
          default: false
          description: >
            Doit être explicitement true pour autoriser un paiement qui dépasserait montant_du
            (sinon 422 — Doc A §3.4 "Trop-perçu").

    Paiement:
      type: object
      properties:
        id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        appel_de_fonds_lot_id: { type: string, format: uuid }
        montant: { $ref: "#/components/schemas/Money" }
        methode: { type: string, enum: [CMI, VIREMENT, ESPECES, CHEQUE] }
        statut: { type: string, enum: [VALIDE, EN_ATTENTE, REJETE] }
        horodatage: { type: string, format: date-time }

    PaiementCmiInitierCreate:
      type: object
      required: [appel_de_fonds_lot_id, montant]
      properties:
        appel_de_fonds_lot_id: { type: string, format: uuid }
        montant: { $ref: "#/components/schemas/Money" }

    Quittance:
      type: object
      properties:
        id: { type: string, format: uuid }
        appel_de_fonds_lot_id: { type: string, format: uuid }
        numero: { type: string }
        pdf_url:
          type: string
          format: uri
          nullable: true
          description: >
            Nullable — génération du PDF hors scope M5 (module Documents, Master Spec Partie 9,
            pas encore livré). La quittance prouve le paiement complet même sans PDF.
        date_emission: { type: string, format: date-time }

    ContestationChargeCreate:
      type: object
      required: [appel_de_fonds_lot_id, motif]
      properties:
        appel_de_fonds_lot_id: { type: string, format: uuid }
        motif: { type: string, minLength: 1 }

    ContestationChargeRepondre:
      type: object
      required: [statut, reponse_syndic]
      properties:
        statut: { type: string, enum: [REPONDUE, MEDIEE, TRIBUNAL] }
        reponse_syndic: { type: string, minLength: 1 }

    ContestationCharge:
      type: object
      properties:
        id: { type: string, format: uuid }
        appel_de_fonds_lot_id: { type: string, format: uuid }
        utilisateur_id: { type: string, format: uuid }
        motif: { type: string }
        statut: { type: string, enum: [OUVERTE, REPONDUE, MEDIEE, TRIBUNAL] }
        reponse_syndic: { type: string, nullable: true }

    # ── Domaine : Assemblées Générales ────────────────────────────────────
    AgVoteCreate:
      type: object
      required: [resolution_id, lot_id, valeur]
      properties:
        resolution_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        valeur: { type: string, enum: [POUR, CONTRE, ABSTENTION] }
        procuration_id:
          type: string
          format: uuid
          nullable: true
          description: Renseigné si le vote est émis par un mandataire (Master Spec Partie 8.5).

    AgVote:
      type: object
      properties:
        id: { type: string, format: uuid }
        resolution_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        valeur: { type: string, enum: [POUR, CONTRE, ABSTENTION] }
        tantiemes_representes: { $ref: "#/components/schemas/Money" }
        horodatage: { type: string, format: date-time }

    AssembleeGenerale:
      type: object
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        type: { type: string, enum: [ORDINAIRE, EXTRAORDINAIRE, REVOCATION] }
        date_convocation: { type: string, format: date-time, nullable: true }
        date_ag: { type: string, format: date-time }
        statut: { type: string, enum: [PLANIFIEE, CONVOQUEE, EN_COURS, CLOTUREE, ANNULEE] }
        quorum_requis:
          type: string
          nullable: true
          description: >
            Fraction (0-1) — snapshot de copropriete.quorum_premiere_convocation pris à
            l'ouverture. NULL tant que non ouverte ou tant que le paramètre légal n'est pas
            confirmé (docs/LEGAL_QUESTIONS_BRIEF.md §2).
        quorum_atteint: { type: string, nullable: true, description: "Calculé à la clôture." }
        motif_annulation: { type: string, nullable: true }

    AgCreate:
      type: object
      required: [type, date_ag]
      properties:
        type: { type: string, enum: [ORDINAIRE, EXTRAORDINAIRE, REVOCATION] }
        date_ag: { type: string, format: date-time }

    AgAnnuler:
      type: object
      required: [motif]
      properties:
        motif: { type: string, minLength: 1 }

    AgResolution:
      type: object
      properties:
        id: { type: string, format: uuid }
        ag_id: { type: string, format: uuid }
        ordre: { type: integer }
        texte: { type: string }
        type_majorite: { type: string, enum: [SIMPLE, DOUBLE, UNANIMITE] }
        resultat: { type: string, enum: [EN_ATTENTE, ADOPTEE, REJETEE] }

    AgResolutionCreate:
      type: object
      required: [ordre, texte, type_majorite]
      properties:
        ordre: { type: integer, minimum: 1 }
        texte: { type: string, minLength: 1 }
        type_majorite:
          type: string
          enum: [SIMPLE, DOUBLE, UNANIMITE]
          description: >
            Choisi explicitement par le syndic par résolution — la grille "quelle résolution
            nécessite quelle majorité" (LEGAL_QUESTIONS_BRIEF.md §3) n'est PAS appliquée
            automatiquement, elle reste disputée.

    AgResultatResolution:
      type: object
      properties:
        valeur: { type: string, enum: [POUR, CONTRE, ABSTENTION] }
        nb_votants: { type: integer }
        tantiemes_total: { $ref: "#/components/schemas/Money" }

    AgProcuration:
      type: object
      properties:
        id: { type: string, format: uuid }
        ag_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        mandant_id: { type: string, format: uuid }
        mandataire_id: { type: string, format: uuid }
        revoquee_le: { type: string, format: date-time, nullable: true }

    AgProcurationCreate:
      type: object
      required: [lot_id, mandataire_id]
      properties:
        lot_id: { type: string, format: uuid }
        mandataire_id: { type: string, format: uuid }
        mandant_id:
          type: string
          format: uuid
          nullable: true
          description: Réservé au syndic (procuration papier reçue pour un tiers, Doc A §6.5).

    AgPv:
      type: object
      properties:
        id: { type: string, format: uuid }
        ag_id: { type: string, format: uuid }
        contenu_json: { type: object }
        pdf_url: { type: string, format: uri, nullable: true, description: "Génération PDF hors scope M6, voir Documents/M9." }
        hash_integrite: { type: string, description: "SHA-256 hexadécimal du contenu_json." }
        horodatage_generation: { type: string, format: date-time }

    # ── Domaine : Parties communes (M8 — Master Spec Partie 2.2/9.4, Doc A §7) ──
    EspaceCommun:
      type: object
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        nom: { type: string }
        type: { type: string }
        capacite: { type: integer, nullable: true }
        reservable: { type: boolean }
        validation_automatique:
          type: boolean
          description: Doc A §7.2 "Validation manuelle ou auto selon paramètre" — ajout nécessaire.
        regles_reservation_json: { type: object, nullable: true }

    EspaceCommunCreate:
      type: object
      required: [nom, type]
      properties:
        nom: { type: string, minLength: 1 }
        type: { type: string, minLength: 1 }
        capacite: { type: integer, nullable: true }
        reservable: { type: boolean, default: false }
        validation_automatique: { type: boolean, default: false }
        regles_reservation_json: { type: object, nullable: true }

    ReservationEspaceCommun:
      type: object
      properties:
        id: { type: string, format: uuid }
        espace_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        utilisateur_id: { type: string, format: uuid }
        date_debut: { type: string, format: date-time }
        date_fin: { type: string, format: date-time }
        statut: { type: string, enum: [EN_ATTENTE, CONFIRMEE, REJETEE, ANNULEE] }
        nombre_invites: { type: integer, nullable: true }
        motif_rejet: { type: string, nullable: true }

    ReservationCreate:
      type: object
      required: [espace_id, lot_id, date_debut, date_fin]
      properties:
        espace_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        date_debut: { type: string, format: date-time }
        date_fin: { type: string, format: date-time }
        nombre_invites: { type: integer, nullable: true }

    # ── Domaine : Personnel / gardien & visites (M10 — Master Spec Partie 13.3, Doc A §9) ──
    Personnel:
      type: object
      properties:
        id: { type: string, format: uuid }
        utilisateur_id: { type: string, format: uuid, description: "Doit avoir un rôle GARDIEN actif dans la copropriété (Doc A §9.2)." }
        copropriete_id: { type: string, format: uuid }
        statut: { type: string, enum: [PRESENT, ABSENT, REMPLACE] }
        logement_lot_id: { type: string, format: uuid, nullable: true, description: "Lot de type LOGE_GARDIEN uniquement (Doc A §9.2)." }
        cree_le: { type: string, format: date-time }

    PersonnelCreate:
      type: object
      required: [utilisateur_id]
      properties:
        utilisateur_id: { type: string, format: uuid }
        statut: { type: string, enum: [PRESENT, ABSENT, REMPLACE], default: PRESENT }
        logement_lot_id: { type: string, format: uuid, nullable: true }

    Visite:
      type: object
      description: >
        Workflow Doc A §9.2 — le gardien enregistre, le résident du lot est notifié (PUSH,
        template VISITE_NOUVELLE), il autorise ou refuse, le gardien reçoit la réponse
        (VISITE_REPONSE). ⚠️ Le tableau Master Spec Partie 2.2 référence "Doc A §7" pour cette
        table, mais seul §9.2 traite du contrôle d'accès visiteurs — écart de renumérotation
        signalé, §9 fait autorité.
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        gardien_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid }
        visiteur_nom: { type: string }
        statut: { type: string, enum: [EN_ATTENTE, AUTORISE, REFUSE] }
        horodatage: { type: string, format: date-time }

    VisiteCreate:
      type: object
      required: [lot_id, visiteur_nom]
      properties:
        lot_id: { type: string, format: uuid }
        visiteur_nom: { type: string, minLength: 1, maxLength: 200 }

    # ── Domaine : Litiges (M11 — Master Spec Partie 2.2, Doc A §12.1) ───────
    ConflitLitige:
      type: object
      description: >
        Workflow Doc A §12.1 — escalade_niveau : 0 = traitement syndic, 1 = médiation AG,
        2 = tribunal (monotone). ⚠️ Une étape de conciliation préalable (Loi 30-24, voir
        docs/LEGAL_QUESTIONS_BRIEF.md §0) pourrait devoir s'insérer avant le tribunal — non
        modélisée tant que non confirmée par l'avocat.
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        type: { type: string, description: "Texte libre — Doc A §12.1 liste 8 familles de conflits sans nomenclature fermée." }
        description: { type: string }
        statut: { type: string, enum: [OUVERT, RESOLU, CLOS] }
        escalade_niveau: { type: integer, minimum: 0, maximum: 2 }
        cree_par: { type: string, format: uuid }
        cree_le: { type: string, format: date-time }
        modifie_le: { type: string, format: date-time }

    # ── Domaine : Incidents (M7 — Master Spec Partie 2.2, Doc A §5) ─────────
    CategorieIncident:
      type: string
      description: Doc A §5.1 fait autorité sur le métier (CLAUDE.md) — remplace le champ texte libre du Master Spec littéral.
      enum: [PLOMBERIE, ELECTRICITE, ASCENSEUR, NETTOYAGE, SECURITE, STRUCTURE, JARDINS_ESPACES_VERTS, NUISANCES, PARKING, EQUIPEMENTS_COLLECTIFS, ADMINISTRATIF]

    Incident:
      type: object
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        lot_id: { type: string, format: uuid, nullable: true }
        categorie: { $ref: "#/components/schemas/CategorieIncident" }
        sous_categorie: { type: string }
        description: { type: string, nullable: true }
        partie: { type: string, enum: [COMMUNE, PRIVATIVE] }
        urgence:
          type: string
          enum: [NORMALE, URGENTE, URGENCE_MAXIMALE]
          description: >
            ⚠️ Doc A §5.1 distingue en réalité 4 paliers (un "TRÈS URGENT" intermédiaire) — le
            Master Spec littéral n'en a que 3, retenus ici comme source de vérité technique (voir
            schema.prisma UrgenceIncident).
        statut: { type: string, enum: [OUVERT, EN_COURS, RESOLU, FERME] }
        cree_par: { type: string, format: uuid }
        assigne_a: { type: string, format: uuid, nullable: true, description: prestataire_id }
        sla_deadline:
          type: string
          format: date-time
          nullable: true
          description: >
            Calculé à la création à partir du seul palier d'urgence (48h/4h/30min) — simplification
            signalée, pas la grille fine par catégorie de Doc A §5.1 (voir
            apps/api/lib/incidents/incidents.ts).
        photos:
          type: array
          maxItems: 5
          items: { type: string }
          description: >
            Chemins storage des photos du signalement (bucket privé `documents`, préfixe
            `<copropriete_id>/incidents/`). Lecture via GET /incidents/{id}/photos (URLs
            signées 15 min — Master Spec Partie 9.3). Ajout signalé : champ absent du tableau
            Master Spec littéral, requis par le signalement photo mobile (Doc A §5).
        cree_le: { type: string, format: date-time }

    IncidentCreate:
      type: object
      required: [categorie, sous_categorie, partie, urgence]
      properties:
        lot_id:
          type: string
          format: uuid
          nullable: true
          description: Absent si l'incident concerne une partie commune non rattachée à un lot précis.
        categorie: { $ref: "#/components/schemas/CategorieIncident" }
        sous_categorie: { type: string, minLength: 1, example: "Fuite eau" }
        description: { type: string, nullable: true }
        partie: { type: string, enum: [COMMUNE, PRIVATIVE] }
        urgence: { type: string, enum: [NORMALE, URGENTE, URGENCE_MAXIMALE] }
        photos:
          type: array
          maxItems: 5
          items: { type: string }
          description: >
            Chemins storage retournés par POST /incidents/upload-url — chacun doit vivre dans
            le périmètre de la copropriété courante (revérifié côté service).

    IncidentChangerStatut:
      type: object
      required: [statut]
      properties:
        statut: { type: string, enum: [OUVERT, EN_COURS, RESOLU, FERME] }
        commentaire: { type: string, nullable: true }

    IncidentLog:
      type: object
      properties:
        id: { type: string, format: uuid }
        incident_id: { type: string, format: uuid }
        statut_avant: { type: string, enum: [OUVERT, EN_COURS, RESOLU, FERME], nullable: true }
        statut_apres: { type: string, enum: [OUVERT, EN_COURS, RESOLU, FERME] }
        acteur_id: { type: string, format: uuid, nullable: true }
        commentaire: { type: string, nullable: true }
        horodatage: { type: string, format: date-time }

    IncidentAssigner:
      type: object
      required: [prestataire_id]
      properties:
        prestataire_id: { type: string, format: uuid }

    Prestataire:
      type: object
      properties:
        id: { type: string, format: uuid }
        copropriete_id: { type: string, format: uuid }
        nom: { type: string }
        specialite: { type: string }
        contact: { type: string }
        actif: { type: boolean }
        utilisateur_id:
          type: string
          format: uuid
          nullable: true
          description: >
            Absent du tableau Master Spec littéral, ajouté pour permettre la confidentialité RLS
            "un prestataire ne voit que son propre ticket" (Doc A §12.3) — voir schema.prisma.

    PrestataireCreate:
      type: object
      required: [nom, specialite, contact]
      properties:
        nom: { type: string, minLength: 1 }
        specialite: { type: string, minLength: 1 }
        contact: { type: string, minLength: 1 }
        utilisateur_id: { type: string, format: uuid, nullable: true }

    # ── M15 — Location courte durée ──
    RegimeLocationCourteDuree:
      type: string
      enum: [NON_DEFINI, AUTORISEE, ENCADREE, INTERDITE]
    StatutDeclarationLcd:
      type: string
      enum: [EN_ATTENTE, VALIDEE, REFUSEE, SUSPENDUE, CLOTUREE]
    StatutSejour:
      type: string
      enum: [PREVU, EN_COURS, TERMINE, ANNULE]
    TypePieceIdentite:
      type: string
      enum: [CIN, PASSEPORT, TITRE_SEJOUR, AUTRE]
    LcdParametres:
      type: object
      description: Paramètres du régime ENCADREE — valeurs de règlement propres à la copropriété, jamais devinées (null = limite non configurée = non appliquée).
      required: [declaration_prealable_obligatoire, delai_declaration_heures, nb_nuits_max_par_an, nb_voyageurs_max_par_lot, gestionnaire_obligatoire_si_proprietaire_absent, contact_gardien_obligatoire]
      properties:
        declaration_prealable_obligatoire: { type: boolean }
        delai_declaration_heures: { type: integer, nullable: true }
        nb_nuits_max_par_an: { type: integer, nullable: true }
        nb_voyageurs_max_par_lot: { type: integer, nullable: true }
        gestionnaire_obligatoire_si_proprietaire_absent: { type: boolean }
        contact_gardien_obligatoire: { type: boolean }
    LcdReglement:
      type: object
      properties:
        regimeLcd: { $ref: "#/components/schemas/RegimeLocationCourteDuree" }
        parametresLcdJson: { $ref: "#/components/schemas/LcdParametres", nullable: true }
        regimeLcdAgResolutionId: { type: string, format: uuid, nullable: true }
        agResolution: { type: object, nullable: true }
    LcdReglementUpdate:
      type: object
      required: [regime_lcd]
      properties:
        regime_lcd: { $ref: "#/components/schemas/RegimeLocationCourteDuree" }
        parametres_lcd_json: { $ref: "#/components/schemas/LcdParametres", nullable: true }
        ag_resolution_id: { type: string, format: uuid, nullable: true }
    LcdDeclaration:
      type: object
      properties:
        id: { type: string, format: uuid }
        coproprieteId: { type: string, format: uuid }
        lotId: { type: string, format: uuid }
        lot: { type: object, properties: { id: { type: string }, numero: { type: string }, typeLot: { type: string } } }
        declareParId: { type: string, format: uuid }
        gestionnaireId: { type: string, format: uuid, nullable: true }
        plateformesJson: { type: array, items: { type: string }, nullable: true }
        contactUrgenceNom: { type: string, nullable: true }
        contactUrgenceTelephone: { type: string, nullable: true }
        statut: { $ref: "#/components/schemas/StatutDeclarationLcd" }
        motifDecision: { type: string, nullable: true }
        decideParId: { type: string, format: uuid, nullable: true }
        decideLe: { type: string, format: date-time, nullable: true }
        dateDebut: { type: string, format: date }
        dateFin: { type: string, format: date, nullable: true }
        creeLe: { type: string, format: date-time }
        modifieLe: { type: string, format: date-time }
    LcdDeclarationCreate:
      type: object
      required: [lot_id]
      properties:
        lot_id: { type: string, format: uuid }
        gestionnaire_id: { type: string, format: uuid, nullable: true }
        plateformes: { type: array, items: { type: string }, nullable: true }
        contact_urgence_nom: { type: string, nullable: true }
        contact_urgence_telephone: { type: string, nullable: true }
        date_debut: { type: string, format: date }
    LcdDeclarationUpdate:
      type: object
      properties:
        plateformes: { type: array, items: { type: string }, nullable: true }
        contact_urgence_nom: { type: string, nullable: true }
        contact_urgence_telephone: { type: string, nullable: true }
        gestionnaire_id: { type: string, format: uuid, nullable: true }
    LcdDeclarationDecision:
      type: object
      required: [decision]
      properties:
        decision: { type: string, enum: [VALIDEE, REFUSEE, SUSPENDUE] }
        motif: { type: string, description: "Obligatoire pour REFUSEE / SUSPENDUE." }
    LcdGestionnaireDesignation:
      type: object
      properties:
        utilisateur_id: { type: string, format: uuid, nullable: true }
        email: { type: string, format: email, nullable: true }
        telephone: { type: string, nullable: true }
        canal: { type: string, enum: [EMAIL, SMS, WHATSAPP, QR_CODE], default: SMS }
    LcdSejour:
      type: object
      description: Données voyageur minimales (CNDP) — jamais de numéro de pièce complet ni de scan.
      properties:
        id: { type: string, format: uuid }
        coproprieteId: { type: string, format: uuid }
        lotId: { type: string, format: uuid }
        lot: { type: object, properties: { id: { type: string }, numero: { type: string }, typeLot: { type: string } } }
        declarationLcdId: { type: string, format: uuid }
        declareParId: { type: string, format: uuid }
        dateArrivee: { type: string, format: date }
        dateDepart: { type: string, format: date }
        heureArriveePrevue: { type: string, nullable: true, example: "16:00" }
        nbVoyageurs: { type: integer }
        voyageurPrincipalNom: { type: string }
        voyageurTelephone: { type: string, nullable: true }
        voyageurNationalite: { type: string, nullable: true }
        pieceIdentiteType: { $ref: "#/components/schemas/TypePieceIdentite", nullable: true }
        pieceIdentiteFin: { type: string, nullable: true, maxLength: 4 }
        plaqueVehicule: { type: string, nullable: true }
        statut: { $ref: "#/components/schemas/StatutSejour" }
        annuleLe: { type: string, format: date-time, nullable: true }
        motifAnnulation: { type: string, nullable: true }
        gardienInformeLe: { type: string, format: date-time, nullable: true }
        creeLe: { type: string, format: date-time }
        modifieLe: { type: string, format: date-time }
    LcdSejourCreate:
      type: object
      required: [lot_id, date_arrivee, date_depart, nb_voyageurs, voyageur_principal_nom]
      properties:
        lot_id: { type: string, format: uuid }
        date_arrivee: { type: string, format: date }
        date_depart: { type: string, format: date }
        heure_arrivee_prevue: { type: string, nullable: true, pattern: "^([01]\\d|2[0-3]):[0-5]\\d$" }
        nb_voyageurs: { type: integer, minimum: 1 }
        voyageur_principal_nom: { type: string }
        voyageur_telephone: { type: string, nullable: true }
        voyageur_nationalite: { type: string, nullable: true, description: "Code pays ISO (MA, FR…)." }
        piece_identite_type: { $ref: "#/components/schemas/TypePieceIdentite", nullable: true }
        piece_identite_fin: { type: string, nullable: true, maxLength: 4, description: "4 derniers caractères au plus — jamais le numéro complet." }
        plaque_vehicule: { type: string, nullable: true }
    LcdSejourUpdate:
      type: object
      properties:
        date_arrivee: { type: string, format: date }
        date_depart: { type: string, format: date }
        heure_arrivee_prevue: { type: string, nullable: true }
        nb_voyageurs: { type: integer, minimum: 1 }
        voyageur_principal_nom: { type: string }
        voyageur_telephone: { type: string, nullable: true }
        voyageur_nationalite: { type: string, nullable: true }
        piece_identite_type: { $ref: "#/components/schemas/TypePieceIdentite", nullable: true }
        piece_identite_fin: { type: string, nullable: true, maxLength: 4 }
        plaque_vehicule: { type: string, nullable: true }

  responses:
    ValidationError:
      description: Payload invalide.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthenticated:
      description: JWT manquant ou invalide.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Rôle non autorisé pour cette action (voir apps/api/lib/auth/permissions.ts).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Ressource introuvable ou hors du périmètre tenant de l'appelant.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Conflit (doublon, idempotence métier, réémission avec payload différent).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

paths:
  # ══════════════════════════════════════════════════════════════════════
  # AUTH — Master Spec Partie 4.3. Public / invité, pas de bearerAuth requis.
  # ══════════════════════════════════════════════════════════════════════
  /auth/otp/request:
    post:
      tags: [Auth]
      summary: Demande un code OTP par SMS.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone]
              properties:
                telephone: { type: string, example: "+212600000000" }
      responses:
        "200": { description: OTP envoyé (rate limit 5/heure/numéro — Master Spec Partie 3.4). }
        "429": { description: Rate limit dépassé. }

  /auth/otp/verify:
    post:
      tags: [Auth]
      summary: Vérifie le code OTP et retourne un JWT Supabase.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, code]
              properties:
                telephone: { type: string }
                code: { type: string, example: "123456" }
      responses:
        "200":
          description: JWT émis.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token: { type: string }
                      refresh_token: { type: string }
        "401": { $ref: "#/components/responses/Unauthenticated" }

  /auth/login:
    post:
      tags: [Auth]
      summary: Connexion email + mot de passe (option MRE/syndic — Master Spec Partie 4.3).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200": { description: JWT émis. }
        "401": { $ref: "#/components/responses/Unauthenticated" }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rafraîchit un JWT expiré via le refresh token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200": { description: Nouveau JWT émis. }
        "401": { $ref: "#/components/responses/Unauthenticated" }

  /auth/invite/accept:
    post:
      tags: [Auth]
      summary: Accepte une invitation (email/SMS/QR) et lie le compte au lot + rôle prévus (Master Spec Partie 5.3).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200": { description: "Compte lié, statut → EN_VALIDATION." }
        "404": { description: Code invalide ou expiré. }
        "409": { description: "Code déjà utilisé — déjà inscrit, connectez-vous (Doc A, Partie 5.5)." }

  # ══════════════════════════════════════════════════════════════════════
  # INVITATIONS — syndic (Master Spec Partie 5.1, 5.3, 5.5)
  # ══════════════════════════════════════════════════════════════════════
  /auth/invite/{code}:
    get:
      tags: [Auth]
      summary: >
        Aperçu PUBLIC d'une invitation (écran d'inscription après scan du QR / saisie du code) :
        nom de la copropriété, rôle visé, expiration, état. Aucune donnée personnelle ; un code
        inconnu répond simplement `statut: INVALIDE`. Limité (anti-énumération).
      parameters:
        - name: jeton
          in: query
          required: false
          schema: { type: string, minLength: 16, maxLength: 128 }
          description: >
            Jeton d'ouverture de l'appareil (usage unique) : le premier appel avec un jeton lie le
            code à cet appareil ; tout appel ultérieur sans ce jeton répond `statut: OUVERTE`.
        - name: code
          in: path
          required: true
          schema: { type: string, minLength: 4, maxLength: 16 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      statut: { type: string, enum: [EN_ATTENTE, ACCEPTEE, EXPIREE, REGENEREE, INVALIDE] }
                      copropriete_nom: { type: string }
                      ville: { type: string }
                      role_cible: { type: string }
                      expire_le: { type: string, format: date-time }

  /auth/invite/inscription:
    post:
      tags: [Auth]
      summary: >
        Inscription par invitation — le geste unique de l'invité : après scan du QR ou saisie du
        code, il crée son compte (email + mot de passe + identité) et rejoint sa copropriété
        avec le rôle et le lot fixés par l'émetteur. Le code est à usage unique et vérifié AVANT
        toute création (aucun compte orphelin) ; expiré/utilisé → 404/409. Retourne une
        session ouverte. Public, limité par email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, email, mot_de_passe, prenom, nom]
              properties:
                code: { type: string }
                email: { type: string, format: email }
                mot_de_passe: { type: string, minLength: 8 }
                prenom: { type: string, maxLength: 100 }
                nom: { type: string, maxLength: 100 }
                langue_preferee: { type: string, enum: [FR, AR], default: FR }
      responses:
        "201":
          description: Compte créé, rattaché, session ouverte.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token: { type: string }
                      refresh_token: { type: string }
                      expires_in: { type: integer }
                      copropriete_id: { type: string, format: uuid }
                      role: { type: string }
                      statut_compte: { type: string }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { description: Code invalide ou expiré. }
        "409": { description: Déjà utilisée / email déjà inscrit / syndic déjà actif. }
        "429": { description: Trop de tentatives. }

  /invitations:
    get:
      tags: [Auth]
      summary: Liste les invitations de la copropriété. Rôle autorisé — syndic.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Invitation" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Auth]
      summary: >
        Émet une invitation liée à un lot + rôle (jamais de sélection de rôle libre par l'invité —
        Master Spec Partie 5.3). Rôle autorisé — syndic (et super_admin pour la première
        invitation d'une copropriété). Frontière de responsabilité : le rôle cible SYNDIC n'est
        attribuable QUE par le super_admin — un syndic qui vise SYNDIC reçoit 403.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InvitationCreate" }
      responses:
        "201":
          description: Créée — code à transmettre via le canal choisi (envoi réel = M9).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invitation" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /invitations/{id}/regenerer:
    post:
      tags: [Auth]
      summary: Régénère un code pour une invitation expirée sans recréer le lot (Master Spec Partie 5.5). Rôle autorisé — syndic.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "201":
          description: Nouvelle invitation créée, l'ancienne passe à REGENEREE.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invitation" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Invitation déjà acceptée — rien à régénérer." }

  /invitations/{id}:
    delete:
      tags: [Auth]
      summary: >
        Annule une invitation EN_ATTENTE : elle passe à EXPIREE (le code cesse de fonctionner,
        la trace reste — jamais de suppression physique). Rôle autorisé — syndic ; super_admin
        pour une invitation SYNDIC.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: Invitation annulée.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invitation" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Seule une invitation en attente peut être annulée." }

  # ══════════════════════════════════════════════════════════════════════
  # COPROPRIÉTÉS — super_admin (create), syndic (manage own)
  # ══════════════════════════════════════════════════════════════════════
  /coproprietes:
    get:
      tags: [Copropriétés]
      summary: >
        Liste les copropriétés où l'appelant a un rôle actif (issues des claims JWT vérifiés) ;
        toutes pour super_admin.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Copropriete" }
    post:
      tags: [Copropriétés]
      summary: Crée une copropriété (le tenant racine). Rôle autorisé — super_admin uniquement.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CoproprieteCreate" }
      responses:
        "201":
          description: Créée (statut ACTIVE).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Copropriete" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /coproprietes/{id}:
    get:
      tags: [Copropriétés]
      summary: Détail de la copropriété (id = celle du contexte tenant vérifié).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Copropriete" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Copropriétés]
      summary: >
        Rôle autorisé — syndic (sa copropriété). Les paramètres légaux
        (delai_convocation_jours, quorum_premiere_convocation, limite_procurations_mandataire)
        sont saisis ici avec leur valeur JURIDIQUEMENT CONFIRMÉE (LEGAL_QUESTIONS_BRIEF) —
        nullable tant que non confirmés, jamais de défaut deviné.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CoproprieteUpdate" }
      responses:
        "200":
          description: Modifiée (audit COPROPRIETE_MODIFIEE avec avant/après).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Copropriete" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /coproprietes/{id}/logo:
    get:
      tags: [Copropriétés]
      summary: "URL signée (15 min) du logo de la résidence — `{ url: null }` sans logo. Tout membre."
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200": { description: "OK — `{ data: { url } }`." }
        "404": { $ref: "#/components/responses/NotFound" }
  /coproprietes/{id}/logo/upload-url:
    post:
      tags: [Copropriétés]
      summary: >
        Prépare le téléversement du logo (chemin `<copropriete>/branding/…`, URL signée PUT). Rôle
        autorisé — syndic. Le chemin est ensuite enregistré via PATCH /coproprietes/{id}
        (`logo_storage_path` ; null pour retirer le logo).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nom_fichier, content_type]
              properties:
                nom_fichier: { type: string }
                content_type: { type: string, enum: [image/jpeg, image/png, image/webp, image/svg+xml] }
      responses:
        "200": { description: "`{ data: { storage_path, upload_url, token } }`." }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /coproprietes/{id}/photos:
    get:
      tags: [Copropriétés]
      summary: >
        URLs signées (15 min) des photos personnalisées de la résidence (M20) — `{ photos: { cle: url } }`,
        carte vide sans personnalisation. Clés : accueil, entree, cour, salle, piscine, espace:<id>.
        Tout membre ; les clients affichent leur image par défaut pour toute clé absente.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200": { description: "OK — `{ data: { photos } }`." }
        "404": { $ref: "#/components/responses/NotFound" }
  /coproprietes/{id}/photos/upload-url:
    post:
      tags: [Copropriétés]
      summary: >
        Prépare le téléversement d'une photo de la résidence pour un emplacement (`cle`), chemin
        `<copropriete>/branding/…`, URL signée PUT. Rôle autorisé — syndic. Le chemin est ensuite
        enregistré via PATCH /coproprietes/{id} (`photos_json`, carte complète ; null pour tout retirer).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cle, nom_fichier, content_type]
              properties:
                cle: { type: string, description: "accueil | entree | cour | salle | piscine | espace:<uuid>" }
                nom_fichier: { type: string }
                content_type: { type: string, enum: [image/jpeg, image/png, image/webp, image/svg+xml] }
      responses:
        "200": { description: "`{ data: { storage_path, upload_url, token } }`." }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /coproprietes/{id}/config:
    get:
      tags: [Copropriétés]
      summary: Retourne config_json (flags activables — Master Spec Partie 2.2, Doc A §10).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      config_json: { type: object, nullable: true }
        "404": { $ref: "#/components/responses/NotFound" }

  # ══════════════════════════════════════════════════════════════════════
  # LOTS — syndic (write), tous (read scopé)
  # ══════════════════════════════════════════════════════════════════════
  /coproprietes/{id}/synthese-admin:
    get:
      tags: [Copropriétés]
      summary: >
        Synthèse opérateur d'une copropriété (console d'administration) : compteurs de santé —
        lots, rôles actifs, invitations, incidents, documents, montants appelés/encaissés,
        prochaine AG, dernière activité (audit_log). Rôle autorisé — super_admin uniquement.
        Les montants sont retournés en chaînes décimales : tout calcul (taux…) reste au client
        via sa librairie monétaire (jamais de float — CLAUDE.md §1.1).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      lots: { type: integer }
                      residents_actifs: { type: integer }
                      invitations_en_attente: { type: integer }
                      invitations_acceptees: { type: integer }
                      incidents_ouverts: { type: integer }
                      sla_depasses: { type: integer }
                      documents: { type: integer }
                      montant_du: { type: string, example: "12000.00" }
                      montant_paye: { type: string, example: "8400.00" }
                      prochaine_ag:
                        type: object
                        nullable: true
                        properties:
                          id: { type: string, format: uuid }
                          date_ag: { type: string, format: date-time }
                          type: { type: string }
                          statut: { type: string }
                      derniere_activite: { type: string, format: date-time, nullable: true }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /lots:
    get:
      tags: [Lots]
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Lot" }
                  meta: { $ref: "#/components/schemas/Meta" }
    post:
      tags: [Lots]
      summary: Rôle autorisé — syndic.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LotCreate" }
      responses:
        "201":
          description: Créé
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Lot" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422":
          description: Somme des tantièmes de la copropriété dépasserait le total défini au règlement (Master Spec Partie 2.4).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /lots/{id}:
    get:
      tags: [Lots]
      summary: >
        Détail d'un lot, enrichi de ses rattachements `proprietaires` et `occupants` (chacun avec
        un objet `utilisateur { id, nom, prenom }` nullable si la RLS masque la personne) —
        nécessaire à la fiche lot C2 du brief frontend. GET /lots renvoie le même enrichissement
        par ligne.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Lot" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Lots]
      summary: Rôle autorisé — syndic.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LotUpdate" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Lot" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Somme des tantièmes dépasserait le total défini au règlement (Master Spec Partie 2.4).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

    delete:
      tags: [Lots]
      summary: >
        Supprime un lot créé par erreur (sans propriétaire, occupant, appel de fonds ni autre
        référence). Rôle autorisé — syndic. Refusé (409) dès que le lot a un historique.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200": { description: "Lot supprimé — `{ data: { id } }`." }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: "Le lot a un historique et ne peut pas être supprimé." }
  /lots/{id}/proprietaires:
    post:
      tags: [Lots]
      summary: >
        Ajoute un copropriétaire (plein, SCI) OU, d'un seul bloc, les co-indivisaires d'une
        indivision (`{ proprietaires: [...] }`) — la règle « quote_part actives = 100 % » (Doc A
        §2.4) est vérifiée par trigger différé au commit, donc sur l'ensemble inséré dans la même
        transaction. Rôle autorisé — syndic. Réponse : l'objet créé (forme unitaire) ou le
        tableau (forme liste).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/LotProprietaireCreate"
                - type: object
                  required: [proprietaires]
                  properties:
                    proprietaires:
                      type: array
                      minItems: 1
                      maxItems: 20
                      items: { $ref: "#/components/schemas/LotProprietaireCreate" }
      responses:
        "201":
          description: Créé
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/LotProprietaire" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Somme des quote_part actives du lot ≠ 100% (Doc A §2.4).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /lots/{id}/occupants:
    post:
      tags: [Lots]
      summary: Ajoute un occupant (locataire ou propriétaire occupant, Doc A §2.2/§2.3). Rôle autorisé — syndic.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LotOccupantCreate" }
      responses:
        "201":
          description: Créé
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/LotOccupant" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /lots/{id}/transfert-propriete:
    post:
      tags: [Lots]
      summary: >
        Vente d'un lot — Master Spec Partie 5.4 (M4). Rôle autorisé — syndic. Ferme la ligne
        `lot_proprietaire` active, désactive le rattachement PROPRIETAIRE de l'ancien
        copropriétaire (`role_utilisateur.actif = false` — pas le compte global, voir
        apps/api/lib/lots/lots.ts pour la justification), crée une invitation pour le nouveau
        propriétaire, écrit `audit_log: LOT_TRANSFERT_PROPRIETE`.
      description: >
        ⚠️ La vérification automatique du solde de charges (étape 2 du Master Spec Partie 5.4)
        n'est PAS encore implémentée — dépend du moteur financier (M5, `appel_de_fonds`/`paiement`,
        pas encore livré). `dette_reprise_acquereur` est donc un champ obligatoire : le syndic
        atteste explicitement l'arrangement en attendant que ce flag soit croisé avec le solde
        réel une fois M5 livré. Limite connue : l'indivision (>1 copropriétaire actif) n'est pas
        supportée par cet endpoint (422 explicite) ; la ligne `lot_proprietaire` du nouveau
        propriétaire n'est PAS créée automatiquement à l'acceptation de l'invitation — le syndic
        doit appeler `POST /lots/:id/proprietaires` une fois l'invitation acceptée.
      parameters:
        - $ref: "#/components/parameters/LotId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nouveau_proprietaire, dette_reprise_acquereur]
              properties:
                nouveau_proprietaire:
                  type: object
                  description: Un des deux champs (email ou telephone) est requis.
                  properties:
                    email: { type: string, format: email, nullable: true }
                    telephone: { type: string, nullable: true }
                dette_reprise_acquereur:
                  type: boolean
                  description: Attestation manuelle du syndic tant que M5 n'automatise pas la vérification.
      responses:
        "200":
          description: Transfert effectué — retourne l'invitation créée pour le nouveau propriétaire.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Invitation" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Aucun copropriétaire actif à transférer, ou lot en indivision (non supporté par cet endpoint).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ══════════════════════════════════════════════════════════════════════
  # UTILISATEURS
  # ══════════════════════════════════════════════════════════════════════
  /users/me:
    get:
      tags: [Utilisateurs]
      summary: Profil de l'appelant + ses rôles actifs (droit d'accès CNDP — Partie 10.1).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/UtilisateurProfil" }
    patch:
      tags: [Utilisateurs]
      summary: >
        Rectification du profil (droit CNDP — Partie 10.1). Champs modifiables : nom, prenom,
        langue_preferee. email/telephone sont des identifiants d'authentification — ils se
        changent via Supabase Auth, jamais ici.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UtilisateurProfilUpdate" }
      responses:
        "200":
          description: Profil mis à jour.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/UtilisateurProfil" }

  /users:
    get:
      tags: [Utilisateurs]
      summary: >
        Annuaire des membres de la copropriété courante — toute personne ayant un rôle (actif ou
        non), avec ses rôles, ses lots (propriétaire / occupant) et l'état de son compte. Rôle
        autorisé — syndic uniquement (même permission que la fiche).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MembreCopropriete" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /users/{id}:
    get:
      tags: [Utilisateurs]
      summary: Fiche d'un utilisateur membre de la copropriété — rôle autorisé syndic uniquement.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/UtilisateurProfil" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /users/{id}/anonymize:
    post:
      tags: [Utilisateurs]
      summary: >
        Anonymisation CNDP manuelle (Loi 09-08, Master Spec Partie 5.6) — syndic/super_admin, à
        la demande explicite de la personne concernée. Exige statut_compte = DESACTIVE (422
        sinon). Efface nom/prenom/email/telephone/raison_sociale/rc_numero, statut → ANONYMISE ;
        CONSERVE toutes les lignes financières, votes et PV (intégrité comptable/légale 10 ans,
        Doc A §12.3). Le job Inngest mensuel fait la même chose automatiquement selon
        retention_desactivation_mois (valeur légalement gatée — job saute si non configurée).
      parameters:
        - $ref: "#/components/parameters/LotId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: "Compte anonymisé, audit_log ANONYMISATION_CNDP écrit."
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      utilisateur_id: { type: string, format: uuid }
                      statut_compte: { type: string, enum: [ANONYMISE] }
                      anonymise_le: { type: string, format: date-time }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Le compte n'est pas DESACTIVE — anonymisation refusée.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /users/me/export:
    get:
      tags: [Utilisateurs]
      summary: >
        Export des données personnelles (droit d'accès CNDP — Master Spec Partie 10.1).
        JSON structuré : profil, rôles, lots (propriété/occupation), paiements, votes,
        notifications. Audit EXPORT_DONNEES_CNDP écrit. (Variante PDF différée.)
      responses:
        "200":
          description: Export JSON des données de l'appelant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/UtilisateurExport" }

  /users/me/appareils:
    post:
      tags: [Utilisateurs]
      summary: >
        Enregistre le jeton push (FCM) de l'appareil de l'appelant (Master Spec Partie 13.4 —
        client mobile, M19). Idempotent par jeton : un même jeton ré-enregistré rafraîchit la
        ligne ; un jeton connu sous un AUTRE compte est déplacé vers l'appelant (le téléphone a
        changé d'utilisateur — l'ancien compte ne reçoit plus rien). Tout rôle authentifié.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AppareilPushCreate" }
      responses:
        "201":
          description: Appareil enregistré (ou rafraîchi).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AppareilPush" }
        "400": { $ref: "#/components/responses/ValidationError" }

  /users/me/appareils/{token}:
    delete:
      tags: [Utilisateurs]
      summary: Retire le jeton push de l'appareil (déconnexion / désinstallation) — ses propres appareils uniquement.
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Retiré.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      supprime: { type: boolean }
        "404": { $ref: "#/components/responses/NotFound" }

  # ══════════════════════════════════════════════════════════════════════
  # FINANCES — syndic (write), résident (read scopé à son lot)
  # ══════════════════════════════════════════════════════════════════════
  /finances/budgets:
    get:
      tags: [Finances]
      summary: Liste des budgets AG de la copropriété (transparence budgétaire — lecture large).
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BudgetAg" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Finances]
      summary: Crée un budget AG en statut PROPOSE (Master Spec Partie 2.2, Doc A §3.2) — syndic.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BudgetAgCreate" }
      responses:
        "201":
          description: Créé (statut PROPOSE).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/BudgetAg" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /finances/budgets/{id}:
    get:
      tags: [Finances]
      summary: Détail d'un budget AG.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/BudgetAg" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Finances]
      summary: Modifie un budget encore PROPOSE (un budget voté/actif est figé) — syndic.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BudgetAgUpdate" }
      responses:
        "200":
          description: Modifié.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/BudgetAg" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Budget non modifiable (statut ≠ PROPOSE).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /finances/budgets/{id}/activer:
    post:
      tags: [Finances]
      summary: >
        Active un budget (statut ACTIF) — prérequis de la génération d'appels de fonds
        (Master Spec Partie 6.2 étape 1). Si un budget ACTIF existe déjà pour le même exercice,
        il passe REMPLACE (budget rectificatif, Doc A §3.2) dans la même transaction —
        audit BUDGET_REMPLACE + BUDGET_ACTIVE.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Activé (et ancien ACTIF éventuellement REMPLACE).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/BudgetAg" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /finances/appels-de-fonds:
    get:
      tags: [Finances]
      summary: Liste des appels de fonds de la copropriété (lecture large — Partie 4.2).
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AppelDeFonds" }
    post:
      tags: [Finances]
      summary: Génération batch d'un appel de fonds (algorithme — Master Spec Partie 6.2).
      description: Rôle autorisé — syndic. copropriete_id dérivé du contexte tenant, jamais du payload.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AppelDeFondsGenererCreate" }
      responses:
        "201":
          description: Créé — lignes appel_de_fonds_lot générées au prorata des tantièmes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AppelDeFonds" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: Un appel de fonds existe déjà pour cette (période, type) — idempotence métier.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Aucun budget_ag ACTIF ne couvre l'exercice de cette période.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /finances/appels-de-fonds/{id}:
    get:
      tags: [Finances]
      summary: >
        Détail d'un appel de fonds AVEC ses lignes par lot (page D3 du brief frontend). La RLS
        sur appel_de_fonds_lot restreint les lignes au périmètre de l'appelant : un résident ne
        reçoit que les lignes de ses propres lots (Doc A §12.3).
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AppelDeFonds" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /finances/synthese:
    get:
      tags: [Finances]
      summary: >
        Synthèse financière en un appel — tous les appels de fonds (métadonnées, sans lignes
        imbriquées) + toutes les lignes appel_de_fonds_lot visibles par l'appelant (RLS :
        syndic/conseil = toutes, résident = ses lots). Endpoint de lecture agrégée destiné au
        frontend (suppression des N+1) ; l'affichage seul est calculé côté client, jamais une
        écriture.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      appels:
                        type: array
                        items: { $ref: "#/components/schemas/AppelDeFonds" }
                      lignes:
                        type: array
                        items: { $ref: "#/components/schemas/AppelDeFondsLot" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /finances/lots/{id}/solde:
    get:
      tags: [Finances]
      summary: Solde d'un lot. Confidentialité stricte — un résident ne voit que son propre lot (Doc A §12.3).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/SoldeLot" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /finances/paiements:
    get:
      tags: [Finances]
      summary: >
        Journal des paiements (comptabilité autonome et export CSV). Même périmètre que la
        synthèse : la RLS via le lot limite un résident à ses propres lots ; syndic/conseil
        voient tout. Filtre optionnel `exercice` (année civile, YYYY). Ordre antéchronologique.
      parameters:
        - name: exercice
          in: query
          required: false
          schema: { type: string, pattern: "^\\d{4}$" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Paiement" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Finances]
      summary: Enregistre un paiement hors CMI (virement, espèces, chèque) — rôle autorisé syndic.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaiementManuelCreate" }
      responses:
        "201":
          description: Créé, ligne paiement immuable. Statut/quittance mis à jour si montant_paye == montant_du.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      paiement: { $ref: "#/components/schemas/Paiement" }
                      statut: { type: string, enum: [PAYE, PARTIEL, IMPAYE] }
                      quittance:
                        allOf: [{ $ref: "#/components/schemas/Quittance" }]
                        nullable: true
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: >
            Dépasserait montant_du sans accepter_trop_percu=true (Doc A §3.4).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /finances/paiements/cmi/initier:
    post:
      tags: [Finances]
      summary: Crée une session de paiement CMI signée (Master Spec Partie 6.4, étape 1).
      description: >
        La session est persistée dans `paiement_cmi_session` (M12) — le webhook résout la cible
        du paiement via la session (oid unique), signature HMAC vérifiée en temps constant.
        ⚠️ Payload webhook non testé contre un vrai bac à sable CMI (credentials commerçant
        absents de ce repo) — nomenclature à ajuster au contrat commerçant réel.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PaiementCmiInitierCreate" }
      responses:
        "201":
          description: Session créée.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      oid: { type: string, description: "Identifiant de commande signé, à transmettre à CMI." }
                      montant: { $ref: "#/components/schemas/Money" }
                      hash: { type: string, description: "HMAC-SHA256(oid.montant) — vérifié au webhook." }
                      appel_de_fonds_lot_id: { type: string, format: uuid }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /finances/paiements/cmi/webhook:
    post:
      tags: [Finances]
      summary: Callback CMI (Master Spec Partie 6.4, étapes 3-5). Signature HMAC vérifiée obligatoire.
      description: >
        Endpoint machine-à-machine — PAS de JWT Supabase (CMI n'en fournit pas). Authenticité
        garantie exclusivement par la signature HMAC du payload. Idempotence stricte sur `oid`
        (mappé à `paiement.reference_cmi`, unique) : un rejeu exact renvoie 200 sans dupliquer.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [oid, montant, hash]
              properties:
                oid: { type: string }
                montant: { $ref: "#/components/schemas/Money" }
                hash: { type: string }
      responses:
        "200": { description: Traité (ou rejeu idempotent — voir champ `idempotent` dans la réponse). }
        "403": { description: Signature HMAC invalide. }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /finances/quittances/{id}:
    get:
      tags: [Finances]
      summary: Consultation d'une quittance. Confidentialité stricte (comme appel_de_fonds_lot).
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Quittance" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /finances/quittances/{id}/pdf:
    get:
      tags: [Finances]
      summary: >
        La quittance en PDF (valeur fiscale, conservation 10 ans — Doc A §3.4). Rendu à la
        demande depuis les lignes immuables quittance/paiement — même confidentialité que
        GET /finances/quittances/{id}.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      responses:
        "200":
          description: PDF (application/pdf, Content-Disposition attachment).
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /finances/contestations:
    get:
      tags: [Finances]
      summary: >
        Liste des contestations de charges (page D6 du brief frontend) — le syndic voit toutes
        les contestations du tenant, un résident uniquement les siennes (RLS en seconde couche).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContestationCharge" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Finances]
      summary: Contestation d'une ligne de charge par un résident concerné (Doc A §3.3 "Cas Particuliers").
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContestationChargeCreate" }
      responses:
        "201":
          description: Créé — flag `conteste=true` posé sur la ligne appel_de_fonds_lot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContestationCharge" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /finances/contestations/{id}/reponse:
    post:
      tags: [Finances]
      summary: Réponse du syndic à une contestation de charge.
      parameters: [{ $ref: "#/components/parameters/LotId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContestationChargeRepondre" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContestationCharge" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ══════════════════════════════════════════════════════════════════════
  # ASSEMBLÉES GÉNÉRALES — syndic (write), copropriétaire (vote)
  # ⚠️ Voir docs/LEGAL_QUESTIONS_BRIEF.md §0 : la Loi 30-24 pourrait autoriser les copropriétaires
  # à convoquer eux-mêmes une AG — si confirmé, POST /ag ne devra plus être syndic-only.
  # ══════════════════════════════════════════════════════════════════════
  /ag:
    get:
      tags: [Assemblées Générales]
      parameters: [{ $ref: "#/components/parameters/Page" }, { $ref: "#/components/parameters/Limit" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: "#/components/schemas/AssembleeGenerale" } }
                  meta: { $ref: "#/components/schemas/Meta" }
    post:
      tags: [Assemblées Générales]
      summary: Crée une AG. Rôle autorisé — syndic (à réévaluer, voir avertissement ci-dessus).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgCreate" }
      responses:
        "201":
          description: "Créée, statut PLANIFIEE."
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AssembleeGenerale" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /ag/{id}:
    get:
      tags: [Assemblées Générales]
      parameters: [{ $ref: "#/components/parameters/AgId" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
[...]
